<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gokhan.veteriner.persistence.AnimalMapper">
    <cache/>
    <resultMap id="animalResultMap" type="com.gokhan.veteriner.domain.Animal">
        <id     property="pk"                         column="pk"/>
        <result property="species"                    column="species"/>
        <result property="name"                       column="name"/>
        <result property="age"                        column="age"/>
        <result property="height"                     column="height"/>
        <result property="weight"                     column="weight"/>
        <result property="eyecolor"                   column="eyecolor"/>
    </resultMap>
    <select id="findAll" resultMap="animalResultMap">
        select * from veteriner.animal
    </select>

    <delete id="delete" parameterType="com.gokhan.veteriner.domain.Animal">
        delete from
        veteriner.animal
        where
        pk=#{pk}
    </delete>

    <insert id="insert" parameterType="com.gokhan.veteriner.domain.Animal">

        <selectKey keyProperty="pk" resultType="int" order="BEFORE">
            select nextval('veteriner.animal_seq')
        </selectKey>

        insert into
        veteriner.animal
        (
        pk,
        species,
        name,
        age,
        height,
        weight,
        eyecolor
        )
        values
        (
        #{pk},
        #{species},
        #{name},
        #{age},
        #{height},
        #{weight},
        #{eyecolor}
        )
    </insert>

    <update id="update" parameterType="com.gokhan.veteriner.domain.Animal">
        update
        veteriner.animal
        set
        species = #{species},
        name = #{name},
        age = #{age},
        height = #{height},
        weight = #{weight},
        eyecolor = #{eyecolor}

        where
        pk = #{pk}
    </update>
</mapper>
